{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
{% endblock %}

{% block base_navigation %}
{% endblock %}

{% block base_main %}
    <div class="container-main">
        <div class="container">
            <h1>Migration Helper Setup</h1>
            <button type="button" class="btn btn-secondary" id="myfav-mig-setup-add">Konfiguration hinzufügen</button>
        </div>
    </div>
{% endblock %}

{% block base_cookie_permission %}
{% endblock %}

{% block base_footer %}
{% endblock %}