{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
{% endblock %}

{% block base_navigation %}
{% endblock %}

{% block base_main %}
    <div class="container-main">
        <div class="container">
            {% if message|length > 0 %}
                <div class="alert alert-success" role="alert" style="border: 1px solid #333; padding: 6px 12px; color: #FFF;">
                    {% if message === 'myfavMigCreated' %}
                        Das Helper Setup wurde angelegt.
                    {% else %}
                        Unbekannte Erfolgsmeldung
                    {% endif %}
                </div>
            {% endif %}
            <h1>Migration Helper Setup</h1>
            <a href="{{ path('frontend.myfav.mig.setupNew', { p: auth }) }}"><button type="submit" class="btn btn-secondary" id="myfav-mig-setup-add">Konfiguration hinzufügen</button></a>
            <div class="myfav-migs">
                {% for mig in myfavMigs %}
                    <div class="myfav-mig mb-3 mt-3" style="font-size: 1rem;"><a href="#">{{ mig.name }} ({{ mig.pos}}) - ({{ mig.state}})</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block base_cookie_permission %}
{% endblock %}

{% block base_footer %}
{% endblock %}